/* GENERAL */

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

/* LOADER */
.loader {
  position: absolute;
  width: 100%;
  height: 125%;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.loader i {
  color: white;
  z-index: 999;
}

.fondu-out {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  display: none;
}

h2 {
  text-align: center;
  margin-bottom: 6rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  padding-top: 4rem;
  display: none;
}

section {
  min-height: 100vh;
  width: 100%;
}

.up-button {
  color:rgba(255, 32, 32, 1);
  font-size: 5rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  z-index: 3;
}

button, .bigger, .up-button, .fa-circle, .fa-chevron-down, .fa-heart, .fa-linkedin-in, .fa-github {
  outline: none;
  text-decoration: none;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transition-timing-function: cubic-bezier(.2, 3, .4, 1);
       -o-transition-timing-function: cubic-bezier(.2, 3, .4, 1);
          transition-timing-function: cubic-bezier(.2, 3, .4, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.send-button:hover, .bigger:hover, .up-button:hover, .fa-circle:hover, .fa-chevron-down:hover, .fa-heart:hover, .fa-linkedin-in:hover, .fa-github:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

button:active, .bigger:active, .up-button:active, .fa-circle:active, .fa-chevron-down:active, .fa-heart:active, .fa-linkedin-in:active, .fa-github:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.compteur {
  font-weight: bold;
}

.notbigger {
  outline: none;
  text-decoration: none;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transition-timing-function: cubic-bezier(.2, 3, .4, 1);
       -o-transition-timing-function: cubic-bezier(.2, 3, .4, 1);
          transition-timing-function: cubic-bezier(.2, 3, .4, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.notbigger:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.notbigger:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
/* MENU */

a {
  text-decoration: none;
  color: black;
  outline: none;
  cursor: pointer;
}

a:visited {
  color: black;
}

nav {
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 251, 227, 0.6);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: none;
  float: right;
}

nav ul a {
  padding: 1.5rem;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  float: left;
  display: block;
  text-decoration: none;
}

nav ul a:last-child {
  margin-right: 1.5rem;
}

nav ul a:hover,
.navigationCheckbox:hover {
  color: rgba(255, 32, 32, 0.9);
}

.navigationBg {
  display: none;
}

.notbigger{
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.notbigger:hover {
  color: rgba(255, 32, 32, 0.9);
}

nav ul li:after {
  content: "";
  display: block;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: absolute;
  height: 3px;
  background: rgba(255, 32, 32, 0.9);
  bottom: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

nav ul li:hover:after {
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/* A PROPOS */
#a-propos {
  padding: 53px 3rem 0rem 3rem;
  font-weight: bold;
  height: 80vh;
}

#a-propos a {
  color:rgba(255, 32, 32, 1);
  font-weight: bold;
}

/* GRAND SLIDER */
.container {
  color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto 5rem auto;
  position: relative;
  padding: 5rem;
  background: rgb(89, 53, 76);
  -webkit-box-shadow: 200px 0px 0px rgb(89, 53, 76), -200px 0px 0px rgb(89, 53, 76);
          box-shadow: 200px 0px 0px rgb(89, 53, 76), -200px 0px 0px rgb(89, 53, 76);
}

.slider2 {
  height: 100%;
  width: 100%;
  padding: 5rem;
}

.sliders {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: inherit;
  padding: 2rem 0 2rem 0;
}

#slide1 .aside {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.moi {
  width: 50rem;
  background-image: url(../img/moi.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 60px 2px 5px rgb(89, 53, 76), inset -60px -2px 5px rgb(89, 53, 76);
          box-shadow: inset 60px 2px 5px rgb(89, 53, 76), inset -60px -2px 5px rgb(89, 53, 76);
}

.slider2 .slide {
  height: 100%;
  width: 100%;
  display: none;
}
.slider2 .slide.active {
  display: block;
  -webkit-animation: fade 0.8s;
          animation: fade 0.8s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fa-chevron-left, .fa-chevron-right {
  font-size: 6rem;
  cursor: pointer;
  position: absolute;
  padding: 0.5rem;
  color: black;
}

.fa-chevron-right {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fa-chevron-left {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 6;
}

.cont-btn {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-circle {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  color: black;
}

.carrousel {
  position: relative;
  width: 50rem;
  height: 3.5rem;
  line-height: 3.5rem;
}

.carrousel .preText {
  position: absolute;
  height: 3.5rem;
  left:0;
  top: 0;
}

.carrousel .changeHidden {
  position: absolute;
  height: 3.5rem;
  left:27rem;
  top: 0;
  overflow: hidden;
}

.carrousel .changeHidden .contenant {
  position: relative;
  -webkit-animation: carousel 9s ease-in infinite;
          animation: carousel 9s ease-in infinite;
}

.element {
  display: block;
  color:rgba(255, 32, 32, 1);
  font-weight: bold;
}

@-webkit-keyframes carousel {
  0%, 33% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  34%, 66% {
    -webkit-transform: translateY(-3.5rem);
            transform: translateY(-3.5rem);
  }
  67%, 99% {
    -webkit-transform: translateY(-7rem);
            transform: translateY(-7rem);
  }
  100% {
    -webkit-transform: translateY(-10.5rem);
            transform: translateY(-10.5rem);
  }
}

@keyframes carousel {
  0%, 33% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  34%, 66% {
    -webkit-transform: translateY(-3.5rem);
            transform: translateY(-3.5rem);
  }
  67%, 99% {
    -webkit-transform: translateY(-7rem);
            transform: translateY(-7rem);
  }
  100% {
    -webkit-transform: translateY(-10.5rem);
            transform: translateY(-10.5rem);
  }
}

.slideTitle strong {
  font-weight: bold;
}

.slideTitle span {
  display: inline-block;
  overflow: hidden;
}

.slideTitle span span{
  display: block;
  -webkit-animation: titleReveal .7s both;
          animation: titleReveal .7s both;
}

@-webkit-keyframes titleReveal {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes titleReveal {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fa-chevron-down {
  font-size: 5rem;
  border: 0.2rem solid black;
  border-radius: 50%;
  padding: 0 0.7rem 0 0.7rem;
}

.stageContainer {
  position: relative;
  bottom: 0%;
}

.stage {
  cursor: pointer;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 6rem;
  left: 1rem;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.box-down {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
@-webkit-keyframes bounce {
  0%   { -webkit-transform: scale(1,1)      translateY(0); transform: scale(1,1)      translateY(0); }
  10%  { -webkit-transform: scale(1.1,.9)   translateY(0); transform: scale(1.1,.9)   translateY(0); }
  30%  { -webkit-transform: scale(.9,0.9)   translateY(-20px); transform: scale(.9,0.9)   translateY(-20px); }
  50%  { -webkit-transform: scale(1.1,.9) translateY(0); transform: scale(1.1,.9) translateY(0); }
  57%  { -webkit-transform: scale(1,1)      translateY(-15px); transform: scale(1,1)      translateY(-15px); }
  64%  { -webkit-transform: scale(1,1)      translateY(0); transform: scale(1,1)      translateY(0); }
  100% { -webkit-transform: scale(1,1)      translateY(0); transform: scale(1,1)      translateY(0); }
}
@keyframes bounce {
  0%   { -webkit-transform: scale(1,1)      translateY(0); transform: scale(1,1)      translateY(0); }
  10%  { -webkit-transform: scale(1.1,.9)   translateY(0); transform: scale(1.1,.9)   translateY(0); }
  30%  { -webkit-transform: scale(.9,0.9)   translateY(-20px); transform: scale(.9,0.9)   translateY(-20px); }
  50%  { -webkit-transform: scale(1.1,.9) translateY(0); transform: scale(1.1,.9) translateY(0); }
  57%  { -webkit-transform: scale(1,1)      translateY(-15px); transform: scale(1,1)      translateY(-15px); }
  64%  { -webkit-transform: scale(1,1)      translateY(0); transform: scale(1,1)      translateY(0); }
  100% { -webkit-transform: scale(1,1)      translateY(0); transform: scale(1,1)      translateY(0); }
}

/* COMPETENCE */

#competences {
  padding: 3rem;
  background: #fff8cf;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

svg.radial-progress {
  height:auto;
  max-width:20rem;
  padding:1em;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width:100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke:#fff;
  stroke-dashoffset:219.91148575129;
  stroke-width:10;
  border-radius: 0.3rem;
}

/* color */
.circle div:nth-of-type(1) circle { stroke: #a2ed56; }

.circle div:nth-of-type(2) circle { stroke: #83e4e2; }

.circle div:nth-of-type(3) circle { stroke: #fd6470; }

.circle div:nth-of-type(4) circle { stroke: #fca858; }

.circle div:nth-of-type(5) circle { stroke: #fddc32; }

svg.radial-progress circle.incomplete { opacity:0.25; }

svg.radial-progress circle.complete { stroke-dasharray:219.91148575129; }

svg.radial-progress text {
  fill: black;
  font-weight: bold;
  text-anchor:middle;
}

/* Progress */

.progbar, .circle {
  margin-top: 6rem;
}

.progbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5rem 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem
}

.progressbar {
  margin-top: 0.5rem;
  position: relative;
}

.proggress {
  height: 8px;
  width: 10px;
}

.proggress::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 0.3rem;
  -webkit-animation: animate-shine 2s ease-out infinite;
          animation: animate-shine 2s ease-out infinite;
}
@-webkit-keyframes animate-shine {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    width: 95%;
  }
}
@keyframes animate-shine {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    width: 95%;
  }
}

.percentCount {
  float: right;
  color: black;
  font-weight:bold;
}

.percentCount, .progbar p {
  margin-top: 0.5rem;
  font-weight: bold;
}
.lang {
  font-weight: bold;
  text-align: center;
}
/* PARCOURS */

#parcours {
  padding: 3rem;
  color: white;
  background: rgba(39, 86, 89, 0.9);
}

#parcours h3, .fa-map-pin {
  color: black;
}

.box-timeline {
  width: 100%;
  height: 132rem;
  background: transparent;
  position: relative;
  padding-top: 12rem;
}

.ligne {
  height: 80rem;
  width: 0.8rem;
  margin: 0 auto;
  background: rgba(51, 51, 51, 0.8);
}

.rondOdd, .rondEven {
  color: black;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: rgba(51, 51, 51, 0.9);
  position: absolute;
  border: 1px solid white;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
}

.r1 {top: 12rem;}

.r2 {top: 31rem;}

.r3 {top: 50rem;}

.r4 {top: 69rem;}

.r5 {top: 88rem;}

.boxOdd, .boxEven {
  text-align: center;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.8);
          box-shadow: 0 10px 15px rgba(0,0,0,0.8);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  background: rgba(255, 251, 227, 0.1);
}

.b1 {
  width: 47rem;
  padding: 6rem 7rem 4rem 6rem;
  border-radius: 30% 70% 70% 30% / 30% 72% 28% 70%;
  top: 0rem;
  left: calc(50% - 30rem);
}

.b2 {
  width: 47rem;
  padding: 4rem 5rem 5rem 5rem;
  border-radius: 82% 18% 23% 77% / 36% 21% 79% 64%;
  top: 24rem;
  left: calc(50% + 30rem);
}

.b3 {
  width: 47rem;
  padding: 5rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  left: calc(50% - 30rem);
  top: 42rem;
}

.b4 {
  width: 47rem;
  padding: 5rem;
  border-radius: 81% 19% 23% 77% / 62% 50% 50% 38%;
  top: 60rem;
  left: calc(50% + 30rem);
}

.b5 {
  width: 47rem;
  padding: 3rem 6rem 6rem 6rem;
  border-radius: 73% 27% 70% 30% / 30% 50% 50% 70%;
  top: 83rem;
  left: calc(50% - 29rem);
}

/* SLIDER RESPONSIVE */
@media screen and (max-width: 1090px) {
  body {
    overflow-x: hidden;
  }
  #a-propos {
    height: auto;
    padding: 0;
    margin-top: 0;
  }

  .container {
    margin: 0;
  }

  section {
    min-height: 0;
  }

  .moi {
    width: 30rem;
  }
}

@media screen and (max-width: 750px) {

  .moi {
    display: none;
  }

  .aside {
    width: 100%;
    overflow-y: overlay;
    overflow-x: hidden;
  }
}
/*RESPONSIVE CV */

@media screen and (max-width: 1090px) {
  .box-timeline {
    margin: 0 auto;
  }
  .ligne {
    position: relative;
    left: 6rem;
    margin: 0;
  }
  .rondOdd, .rondEven {
    left: 6.5rem;
  }
  .boxOdd, .boxEven {
    left: 50rem;
    width: 80%;
  }
}

/* REALISATIONS */

#realisations {
  padding: 6rem 3rem 3rem 3rem;
  background: rgba(244, 206, 134, 0.8);
}

#realisations .buttons {
  width:auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

#realisations button {
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.7rem;
  margin: 0 6rem 0 6rem;
  width: auto;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 2px 2px 3px rgba(1, 17, 64, 0.9);
  -webkit-box-shadow: 2px 2px 3px rgba(1, 17, 64, 0.9);
  -moz-box-shadow: 2px 2px 3px rgba(1, 17, 64, 0.9);
}

#realisations .draw {
  position: relative;
  vertical-align: middle;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

#realisations .draw::before,
#realisations .draw::after {
  /*Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts*/
  border: 2px solid transparent;
  border-radius: 0.6rem;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
}

/* This covers the top & right borders (expands right, then down)*/
#realisations .draw::before {
  top: 0;
  left: 0;
}

/* And this the bottom & left borders (expands left, then up)*/
#realisations .draw::after {
  bottom: 0;
  right: 0;
}

#realisations .draw:hover {
  color: rgba(255, 32, 32, 1);
  border: none;
}

/* Hover styles*/
#realisations .draw:hover::before,
#realisations .draw:hover::after {
  width: 100%;
  height: 100%;
}

#realisations .draw:hover::before {
  border-top-color: rgba(255, 32, 32, 1);
  border-right-color: rgba(255, 32, 32, 1);
  -webkit-transition:
  width 0.25s ease-out,
  height 0.25s ease-out 0.25s;
  -o-transition:
  width 0.25s ease-out,
  height 0.25s ease-out 0.25s;
  transition:
  width 0.25s ease-out,
  height 0.25s ease-out 0.25s;
}

#realisations .draw:hover::after {
  border-bottom-color: rgba(255, 32, 32, 1);
  border-left-color: rgba(255, 32, 32, 1);
  -webkit-transition:
  border-color 0s ease-out 0.5s,
  width 0.25s ease-out 0.5s,
  height 0.25s ease-out 0.75s;
  -o-transition:
  border-color 0s ease-out 0.5s,
  width 0.25s ease-out 0.5s,
  height 0.25s ease-out 0.75s;
  transition:
  border-color 0s ease-out 0.5s,
  width 0.25s ease-out 0.5s,
  height 0.25s ease-out 0.75s;
}


.portefolio {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portefolio a {
  margin: 0 1rem;
}

.divMaj {
  position: relative;
  width: 18rem;
  height: 25rem;
  overflow: hidden;
}

.divMaj:hover .div2 {
  height:80%;
  opacity: 1;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.divMaj:hover img {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.div1 {
  overflow: hidden;
  position: absolute;
  width: 18rem;
  height: 20rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.div1 img {
  width: 100%;
  height: auto;
}

.div2 {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.anotation {
  position: absolute;
  right: 0rem;
  bottom: 1.2rem;
}

h6 {
  font-weight: 900;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5rem;
  background-color: white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-radius: 0 0 0.5rem 0.5rem;
}

.flex-lang div {
  width: 45%;
  text-align: center;
  border: 1px dotted black;
  border-radius: 13%;
  padding: 0.4rem;
  margin: 0.4rem;
  font-weight: bold;
}
.flex-lang {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#realisations i {
  padding: 0.5rem;
  color:rgba(255, 32, 32, 1);
  font-size: 3rem;
}

/* CONTACT */

#contact {
  color: white;
  padding: 6rem 3rem 3rem 3rem;
  background: rgba(1, 17, 64, 0.75);
}

.contact-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5rem 2fr 0.5rem 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0.5rem
}

.grid-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1rem 1fr 1rem 1fr 1rem 3fr 1rem 1fr;
  grid-template-rows: repeat(3, 1fr) 3fr 1fr;
  grid-gap: 1rem;
  margin-right: 3rem;
  margin-left: 2rem;
}

.grid-form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid-form > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid-form > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid-form > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.grid-form > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.grid-form > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.grid-form > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.grid-form > *:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.grid-form > *:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

#question {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

#nom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

#email {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

#objet {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

textarea {
  border-radius: 0.5rem;
  padding: 0.5rem 0.6rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4 / 8;
  outline: none;
}

form input[type="text"], input[type="email"] {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.6rem;
}

.addShakeKeyFrame {
  /* animation shake sur tout le form */
  -webkit-animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both 1s;
          animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both 1s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

form input:focus, form textarea:focus {
  border: 3px solid rgba(1, 17, 64, 0.9);
  box-shadow: 2px 2px 3px rgba(1, 17, 64, 0.9);
  -webkit-box-shadow: 2px 2px 3px rgba(1, 17, 64, 0.9);
  -moz-box-shadow: 2px 2px 3px rgba(1, 17, 64, 0.9);
}

input {
  line-height: 1;
  outline: none;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

#contact i, .fa-paper-plane{
  padding: 0.5rem;
  color: rgba(255, 32, 32, 1);
}

.contact-flex {
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 3rem;
}

.info-flex {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.media-flex {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact address i {
  font-size: 3rem;
}

.envelope a, .phone a {
  color: white;
}

.envelope:hover .fa-envelope {
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
      transform: skew(-20deg);
}

.phone:hover .fa-phone {
  -webkit-animation: wiggle .05s alternate ease infinite;
  animation: wiggle .05s alternate ease infinite;
}

.marker:hover .fa-map-marker-alt {
  -webkit-animation: bounceleft .3s alternate ease infinite;
  animation: bounceleft .3s alternate ease infinite;
}

@-webkit-keyframes wiggle {
  from { -webkit-transform: rotate(0deg); }
  to   { -webkit-transform: rotate(30deg); }
}

@keyframes wiggle {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to   { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
}

@-webkit-keyframes bounceleft {
  from { -webkit-transform: translateX(0); }
  to   { -webkit-transform: translateX(-3px); }
}

@keyframes bounceleft {
  from { -webkit-transform: translateX(0); }
  to   { -webkit-transform: translateX(-3px); }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bigIcon {
  font-size: 4rem;
}

.bigIcon:first-child {
  margin-right: 3rem;
}

.fa-map-marker-alt {
  float: left;
  display: inline-block;
  width: auto;
}

.map {
  overflow:hidden;
  position:relative;
  margin-right: 2rem;
}

.map iframe {
  position:absolute;
  bottom:12%;
  height:86%;
  width:100%;
}

/*GLOBAL RESPONSIVE*/

@media screen and (max-width: 1024px) {
  .box-timeline {
    height: 128rem;
  }
}

@media screen and (max-width: 1090px) {
  #a-propos .fa-chevron-down {
    display: none;
  }
}

/*MENU RESPONSIVE*/
.navigationCheckbox {
  display: none;
}

@media screen and (max-width: 860px) {
  h2 {
    display: block;
  }

  section {
    min-height: auto;
  }

  #a-propos {
    height: 80vh;
    padding: 0;
  }

  nav {
    display: block;
  }

  .navigationBg {
    display: block;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 6.5rem;
    background-color: rgba(255, 32, 32, 1);
    z-index: 900;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .navigationBtn {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 4rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 950;
    -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
            box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
  }

  .navigationIcon {
    position: relative;
    margin-top: 3.5rem;
    width: 3rem;
    height: 2px;
    background-color: rgba(51, 51, 51, 0.8);
    display: inline-block;
  }

  .navigationIcon::before,
  .navigationIcon::after {
    width: 3rem;
    height: 2px;
    background-color: rgba(51, 51, 51, 0.8);
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }

  .navigationIcon::before {
    top: -.8rem;
  }

  .navigationIcon::after {
    top: .8rem;
  }

  .nav {
    height: 100vh;
    position: fixed;
    width: 0;
    opacity: 0;
    z-index: 925;
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    width: 100%;
  }

  .nav ul li {
    display: inline-block;
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav ul a {
    display: block;
    float:none;
  }

  .navigationCheckbox:checked ~ .navigationBg {
    -webkit-transform: scale(80);
        -ms-transform: scale(80);
            transform: scale(80);
  }

  .navigationCheckbox:checked ~ .nav{
    opacity: 1;
    width: 100%;
  }


  .navigationCheckbox:checked+ .navigationBtn .navigationIcon {
    background-color: transparent;
  }

  .navigationCheckbox:checked+ .navigationBtn .navigationIcon::before {
    top: 0;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .navigationCheckbox:checked+ .navigationBtn .navigationIcon::after {
    top: 0;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
}

/* CONTACT RESPONSIVE */

@media screen and (max-width: 1180px) {
  .map {
    display: none;
  }

  .contact-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0rem;
  }
}

@media screen and (max-width: 835px) {
  .map {
    display: none;
  }

  .contact-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3rem;
  }

  .contact-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .contact-flex {
    margin-right: 3rem;
    margin-left: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 20rem;
  }

  .contact-flex h3:first-child {
    padding-bottom: 3rem;
  }

  .info-flex {
    height: 100%;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height:100%;
    width:50%;
  }
  .social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* TEST SEND CONTACT*/
/*animations*/
@-webkit-keyframes icon-animation{
  0% { -webkit-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1);}
  33% {-webkit-transform: rotate(-120deg) scale(4);transform: rotate(-120deg) scale(4);}
  66% {-webkit-transform: rotate(-240deg) scale(4);transform: rotate(-240deg) scale(4);}
  100% {-webkit-transform: rotate(-360deg) scale(1);transform: rotate(-360deg) scale(1);}
}
@keyframes icon-animation{
  0% { -webkit-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1);}
  33% {-webkit-transform: rotate(-120deg) scale(4);transform: rotate(-120deg) scale(4);}
  66% {-webkit-transform: rotate(-240deg) scale(4);transform: rotate(-240deg) scale(4);}
  100% {-webkit-transform: rotate(-360deg) scale(1);transform: rotate(-360deg) scale(1);}
}

/* animation related classes*/
.icon-wrapper-animation {
  -webkit-animation: icon-animation 1.5s linear;
          animation: icon-animation 1.5s linear;
  -webkit-transition: color 0.6s ease;
  -o-transition: color 0.6s ease;
  transition: color 0.6s ease;
  color: #66bb6a;
}
.icon2-wrapper-animation {
  -webkit-animation: icon-animation 1.5s linear;
          animation: icon-animation 1.5s linear;
  -webkit-transition: color 0.6s ease;
  -o-transition: color 0.6s ease;
  transition: color 0.6s ease;
  color: #f72923;
}

.clicked {
  -webkit-transform: translateX(-20%)!important;
      -ms-transform: translateX(-20%)!important;
          transform: translateX(-20%)!important;
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  -o-transition: transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
}
.clicked > .text {
  -webkit-transform: translateY(1px)!important;
      -ms-transform: translateY(1px)!important;
          transform: translateY(1px)!important;
  -webkit-transition: -webkit-transform .15s ease-out;
  transition: -webkit-transform .15s ease-out;
  -o-transition: transform .15s ease-out;
  transition: transform .15s ease-out;
  transition: transform .15s ease-out, -webkit-transform .15s ease-out;
}
.send-button {
  color: black;
  position: relative;
  left: 52%;
  margin: 0 auto;
  width: 140px;
  height: 45px;
  border-radius: 0.5rem;
  border: 3px solid rgba(1, 17, 64, 0.9);
  box-shadow: 2px 2px 3px rgba(1, 17, 64, 0.9);
  -webkit-box-shadow: 2px 2px 3px rgba(1, 17, 64, 0.9);
  -moz-box-shadow: 2px 2px 3px rgba(1, 17, 64, 0.9);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  -o-transition: transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
  background-color: white;
}

.text {
  position: absolute;
  left: 10px;
  top: 0;
  letter-spacing: 1px;
  line-height: 40px;
  font-weight: 700;
}
.icon-wrapper {
  left: -80px;
  position: absolute;
  bottom: -10px;
  width: 200px; height: 200px;
  border-radius: 50%;
}

[class*="icon-"] {
  position: absolute;
  left: 46px;
  bottom: 1px;
  -webkit-transition: color 0.6s ease;
  -o-transition: color 0.6s ease;
  transition: color 0.6s ease;
}
.icon-1 {
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  font-size: 2.5rem;
  opacity: 1;
}
.icon-2 {
  padding: 0.5rem;
  opacity: 0;
  font-size:2.5rem;
}
.icon-3 {
  padding: 0.5rem;
  opacity: 0;
  font-size:2.5rem;
}
